<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <div class="content-flex">
        {{>navigation}}
        <div class="main-flex">
            <div class="main"> 
                <h1>{{title}}</h1>
                <h6>You can use this website to get the current weather data of any Loaciton in the world!</h6>
                <p>The front-end for this application was created using html,css and javascript, while the back-end was created using a weather api of weatherstack , a forward geocoding api of mapbox as well as node.js to run the api calls on server-side.</p>
                <p>A brief description of the functionality : </p>
                <p>Every time a location is submitted , the app fetchs a query url .When this query is recieved by the server , it performs forward geocoding (conversion of the name of the location to its latitude and longitude coordinates) and gathers weather data using api, it then return the relavent data. This data is then displayed on the web-page using client-side javascript</p>
                <form action="">
                    <input placeholder="Enter Location" type="text">
                    <button>Submit</button>
                </form>
                <p id="message-1"></p>
                <p id="message-2"></p>
                <p id="message-3"></p>
                <p id="message-4"></p>
            </div>
            {{>footer}}
        </div>
    </div>
    <script src="./js/app.js"></script>
</body>
</html>