<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <div class="main-flex">
        <div class="main">
            {{>header}}
            <h6>You can use this Website to get weather of any Loaciton in the world!</h6>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam inventore quis explicabo dicta magnam minus quidem? Laborum perferendis hic totam corporis. Similique laborum dolorem ipsam aut praesentium eum inventore hic in voluptate amet culpa ab assumenda quibusdam ut alias odit facere, modi nam distinctio ratione? Modi non maxime voluptatem provident accusantium dolorum temporibus soluta, ad architecto quia, quas debitis consequuntur totam et mollitia, rerum quisquam. Libero iure ex, repellendus id quibusdam esse aliquid, iusto perferendis doloribus odio reprehenderit in vitae illo sit eum mollitia, ab consequuntur repudiandae nulla voluptatem consectetur quod a? Totam, quia eveniet. Commodi voluptatibus dolores repellendus esse?</p>
            <form action="">
                <input placeholder="Enter Location" type="text">
                <button>Submit</button>
            </form>
            <p id="message-1"></p>
            <p id="message-2"></p>
        </div>
        {{>footer}}
    </div>
    <script src="./js/app.js"></script>
</body>
</html>